.about{
  margin-top: 65px;
  @include media($mobile){
    margin-top: 35px;
  }
  .sec01{
    margin-bottom: 30px;
  }
  &-title{
    margin-bottom: 34px;
    text-align: center;
    @include media($mobile){
      margin-bottom: 18px;
    }
    img{
      width: 420px;
      @include media($mobile){
        width: 270px;
      }
    }
  }
  &-desc{
    margin-bottom: 50px;
    text-align: center;
    @include media($mobile){
      margin-bottom: 30px;
    }
    p{
      font-size: 2.2rem;
      font-weight: bold;
      margin: 0px;
      @include media($mobile){
        font-size: 1.4rem;
      }
    }
  }
  &-flex{
    display: flex;
    margin-bottom: 48px;
    @include media($mobile){
      flex-wrap: wrap;
      margin-bottom: 25px;
    }
    .about-col-img{
      width: 455px;
      @include media($mobile){
        width: 100%;
        margin-bottom: 20px;
      }
    }
    .about-col-txt{
      width: 625px;
      padding-left: 60px;
      @include media($mobile){
        width: 100%;
        padding-left: 0px;
      }
      .about-h2{
        margin-bottom: 30px;
        @include media($mobile){
          margin-bottom: 15px;
        }
        img{
          width: 154px;
          @include media($mobile){
            width: 87px;
          }
        }
      }
      p{
        font-size: 1.6rem;
        line-height: 2;
        @include media($mobile){
          font-size: 1.3rem;
          line-height: 1.8;
        }
      }
    }
  }
  &-table{
    width: 880px;
    margin: 0 auto;
    @include media($mobile){
      width: 100%;
    }
    &:before{
      content: '';
      background-image: url('./assets/img/page/about-sec01-border-top.png');
      display: block;
      background-repeat: no-repeat;
      background-size: cover;
      width: 880px;
      height: 2px;
      @include media($mobile){
        width: 100%;
        background-position: right;
      }
    }
    &:after{
      content: '';
      background-image: url('./assets/img/page/about-sec01-border-bottom.png');
      display: block;
      background-repeat: no-repeat;
      background-size: cover;
      width: 880px;
      height: 2px;
      @include media($mobile){
        width: 100%;
      }
    }
    dl{
      padding: 25px 0px 20px;
      @include clearfix;
      @include media($mobile){
        padding: 20px 0px 10px;
      }
    }
    dt{
      border: 2px solid #000;
      border-radius: 10px;
      text-align: center;
      font-size: 1.6rem;
      width: 134px;
      float: left;
      @include media($mobile){
        width: 20%;
        font-size: 1.3rem;
      }
    }
    dd{
      width: 746px;
      float: left;
      padding-left: 25px;
      line-height: 2;
      @include media($mobile){
        width: 80%;
        padding-left: 15px;
        line-height: 1.8;
        margin-bottom: 10px;
      }
    }
  }

  .about-title-h2{
    h2{
      text-align: center;
      font-size: 3.0rem;
      color: $color-green;
      @include media($mobile){
        font-size: 2.0rem;
      }
      &:before{
        content: '';
        background-image: url('./assets/img/page/about-sec02-title-h2-before.png');
        background-size: contain;
        background-repeat: no-repeat;
        display: block;
        width: 68px;
        height: 40px;
        margin: 0 auto 8px;
      }
      &:after{
        margin: 15px auto 0px;
        content: '';
        background-image: url('./assets/img/page/about-sec02-title-h2-after.png');
        background-size: contain;
        background-repeat: no-repeat;
        display: block;
        width: 36px;
        height: 6px;
      }
    }
  }

  .sec02{
    margin-bottom: 70px;
    @include media($mobile){
      margin-bottom: 30px;
    }
    &-bg{
      background-image: url('./assets/img/page/about-sec02-bg.png');
      background-repeat: repeat;
      background-size: contain;
      @include media($mobile){
        padding-bottom: 10px;
      }
    }
    .sec02-bg-wrap{
      position: relative;
      bottom: calc( 99 * (100vw / 1280));
      @include media($mobile){
        bottom: calc( 59 * (100vw / 1280));
      }
    }
    &-title{
      position: relative;
      width: 830px;
      margin: 0 auto 45px;
      @include media($mobile){
        width: 100%;
        margin-bottom: 25px;
      }
      &:before{
        position: absolute;
        left: -10px;
        top: -40px;
        content: '';
        background-image: url('./assets/img/page/about-sec02-title-before.png');
        background-size: contain;
        background-repeat: no-repeat;
        display: block;
        width: 190px;
        height: 154px;
        @include media($mobile){
          display: none;
        }
      }
      &:after{
        position: absolute;
        right: 0px;
        top: -25px;
        content: '';
        background-image: url('./assets/img/page/about-sec02-title-after.png');
        background-size: contain;
        background-repeat: no-repeat;
        display: block;
        width: 145px;
        height: 135px;
        @include media($mobile){
          display: none;
        }
      }
      h2{
        text-align: center;
        font-size: 3.0rem;
        color: $color-green;
        @include media($mobile){
          font-size: 2.0rem;
        }
        &:before{
          content: '';
          background-image: url('./assets/img/page/about-sec02-title-h2-before.png');
          background-size: contain;
          background-repeat: no-repeat;
          display: block;
          width: 68px;
          height: 40px;
          margin: 0 auto 8px;
        }
        &:after{
          margin: 15px auto 0px;
          content: '';
          background-image: url('./assets/img/page/about-sec02-title-h2-after.png');
          background-size: contain;
          background-repeat: no-repeat;
          display: block;
          width: 36px;
          height: 6px;
        }
      }
    }
    &-flex{
      display: flex;
      @include media($mobile){
        flex-wrap: wrap;
      }
      .sec02-col{
        width: 530px;
        margin-right: 20px;
        padding: 0px 36px 60px;
        background-color: #fff;
        border-radius: 30px;
        @include media($mobile){
          width: 100%;
          margin: 0px;
          padding: 0px 25px 25px;
          margin-bottom: 30px;
          &:last-child{
            margin-bottom: 0px;
          }
        }

        &:last-child{
          margin-right: 0px;
        }

        &-title{
          margin-bottom: 25px;
          h3{
            margin: 0px;
          }
        }
        &-wrap{
          border-bottom: 1px solid #959595;
          margin: 0px 18px 20px;
          padding-bottom: 15px;
          @include media($mobile){
            margin: 0px 10px 20px;
          }
          &:last-of-type{
            border-bottom: 0px;
            margin-bottom: 0px;
          }
          &-h4{
            padding-left: 18px;
            position: relative;
            font-size: 1.8rem;
            margin-bottom: 15px;
            color: $color-green;
            @include media($mobile){
              font-size: 1.5rem;
              padding-left: 12px;
              margin-bottom: 10px;
            }
            &:before{
              position: absolute;
              left: 0px;
              top:0px;
              background-image: url('./assets/img/page/sec02-h4-icon.png');
              width: 9px;
              height: 18px;
              background-size: cover;
              background-repeat: no-repeat;
              content: '';
              display: block;
              @include media($mobile){
                width: 4.5px;
                height: 9px;
                top: 3.5px;
              }
            }
          }
          &-desc{
            font-size: 1.6rem;
            line-height: 2;
            margin: 0px;
            @include media($mobile){
              font-size: 1.3rem;
              line-height: 1.8;
            }
          }
          &-img{
            margin-top: 20px;
            @include media($mobile){
              margin-top: 15px;
            }
          }
        }
      }
    }
  }

  .sec03{
    margin-bottom: 90px;
    @include media($mobile){
      margin-bottom: 30px;
    }
    .about-title-h2{
      margin-bottom: 60px;
      @include media($mobile){
        margin-bottom: 30px;
      }
    }
    &-flex{
      display: flex;
      flex-wrap: wrap;
    }
    &-col{
      width: 530px;
      margin-right: 20px;
      margin-bottom: 20px;
      @include media($mobile){
        margin-right: 0px;
        margin-bottom: 10px;
      }
      &:nth-child(2n){
        margin-right: 0px;
      }
    }
  }
  .sec04{
    .about-title-h2{
      margin-bottom: 45px;
      @include media($mobile){
        margin-bottom: 30px;
      }
    }
    &-flex{
      display: flex;
      margin-bottom: 60px;
      @include media($mobile){
        flex-wrap: wrap;
        margin-bottom: 30px;
      }
    }
    &-col-img{
      width: 390px;
      @include media($mobile){
        width: 100%;
        margin-bottom: 15px;
      }
    }
    &-col-txt{
      width: 690px;
      padding-left: 50px;
      @include media($mobile){
        width: 100%;
        padding-left: 0px;
      }
      p{
        font-size: 1.6rem;
        line-height: 2;
        margin-bottom: 40px;
        @include media($mobile){
          font-size: 1.3rem;
          line-height: 1.8;
          margin-bottom: 20px;
        }
      }
    }
    &-btn{
      width: 310px;
      margin: 0 auto;
      @include media($mobile){
        width: 200px;
      }
      a{
        display: block;
        position: relative;
        &:after{
          @include media($large){
            position: absolute;
            left: 0px;
            top: 0px;
            display: block;
            content: '';
            width: 310px;
            height: 76px;
            background-image: url('./assets/img/page/annai-btn--hover.png');
            background-size: cover;
            background-repeat: no-repeat;
          }

        }
        &:hover{
          @include media($large){
            opacity: 1;
            img{
              opacity: 0;
            }
            &:after{
              top: 6px;
            }
          }
        }
      }
    }
  }
}
