.company{
  .sec01{
    .page-table{
      margin-bottom: 45px;
    }
  }
  &-map{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
    @include media($middle-min){
      width: 100%;
    }
    @include media($mobile){
      width: 100%;
      margin-bottom: 50px;
    }
    &-col{
      width: 48.5%;
      @include media($mobile){
        width: 100%;
        margin-bottom: 30px;
      }
      &:first-child{
        margin-right: 3%;
      }
      h3{
        font-size: 1.6rem;
        margin-bottom: 20px;
      }
      &-google{
        height: 323px;
        width: 100%;
        @include media($mobile){
          height: 250px;
        }
      }
    }
  }
}
