.contact{
  &-sec{
    margin-bottom: 95px;
    input,textarea{
      margin: 0px;
      border-radius: 10px;
      padding-left: 15px;
      @include media($mobile){
        border-radius: 5px;
        padding-left: 10px;
      }
    }
    input[type=text] {
      width: 100%;
    }
    input[type="checkbox"], input[type="radio"]{
      width: 20px;
      height: 20px;
      position: relative;
      top: -3px;
      margin-right: 5px;
      @media all and (-ms-high-contrast: none) {
        padding-left: 0px;
      }
    }
    .check{
      .checkbox-223{
        @include media($mobile){
          position: relative;
          top: 8px;
        }
      }
    }

    .page-table{
      dd,dt{
        &:last-of-type{
          @include media($mobile){
            width: 100%;
            border-bottom: 1px solid #000;
          }
        }
      }
      dt{
        @include media($mobile){
          padding-top: 30px;
          font-size: 1.2rem;
        }
        &:last-of-type{
          @include media($mobile){
            position: relative;
            &:before{
              content: '';
              width: 30%;
              height: 1px;
              background-color: #ff1800;
              position: absolute;
              left: 0px;
              bottom: -1px;
            }
          }
        }
      }

    }

  }
  &-btn{
    position: relative;
    transition: all .3s ease;
    width: 360px;
    border-radius: 30px;
    margin: 0 auto;
    @include media($mobile){
      width: 100%;
      max-width: 360px;
    }
    &:hover{
      background-color: #000;
      color: $color-main;
      opacity: 1;
      &:before,&:after{
        right: 20px;
        background-color: $color-main;
        @include media($mobile){
          right: 10px;
        }
      }
    }
    &:before,&:after{
      transition: all .3s ease;
      content: "";
      display: block;
      width: 0;
      height: 0;
      width: 12px;
      height: 1.5px;
      position: absolute;
      right: 30px;
      background: #000;
      @include media($mobile){
        right: 20px;
      }
    }
    &:before{
      top: 31.5px;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    &:after{
      top: 24px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    input{
      border-radius: 30px;
      border: 1px solid #000;
      border: 1px solid #000;
      width: 100%;
      background-color: $color-main;
      color: #000;
      font-weight: normal;
      display: block;
      text-align: center;
      padding: 18px 0px;
      font-size: 1.8rem;
      letter-spacing: 0.1em;
      font-weight: normal;
      &:hover{
        background-color: #000;
        color: $color-main;
      }
      @include media($mobile){
        width: 100%;
        max-width: 360px;
      }

    }
  }
  .wpcf7-response-output{
    p{
      background-color: #000;
      color: $color-main;
      padding: 10px 0px;
      text-align: center;
      margin: 20px 0px;
    }

  }
  .wpcf7-not-valid-tip{
    color: #ff1800;
  }
  .wpcf7-response-output{
    margin-top: 10px;
    text-align: center;
  }
  .screen-reader-response{
    p,li{
      font-weight: bold;
    }
  }
}
