
.header{
  position: relative;
  &-icon{
    width: 77px;
    position: absolute;
    left: 0px;
    top: 0px;
  }
  &-wrap-top{
    height: 100vh;
    position: relative;
    min-height: 768px;
    @include media($mobile){
      min-height: 667px;
    }
  }
  &-wrap{
    margin-bottom: 95px;
    
    &-center{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
    }
    &-title{
      font-size: 3rem;
      display: block;
      text-align: center;
      margin-bottom: 45px;
      @include media($mobile){
        font-size: 2.6rem;
      }
    }
    &-logo{
      width: 309px;
      margin: 0 auto 55px;
      @include media($mobile){
        width: 280px;
      }
    }
    .show{
      animation-name: fadein;
      animation-duration: 1.5s;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
    }
    @keyframes fadein{
      0%{
        opacity: 0%;
      }
      100%{
        opacity: 1;
      }
    }
    &-scroll{
      $scroll-height:185px;
      $scroll-height-middle:125px;
      height: $scroll-height;
      overflow: hidden;
      position: absolute;
      bottom: 0px;
      left: calc(50% - 1px);

      @include media($middle){
        height: $scroll-height-middle;
      }

      #scroll{
  			background-color: #ccc;
  			height: $scroll-height;
  			overflow: hidden;
        @include media($middle){
          height: $scroll-height-middle;
        }
		  }

  		#scroll:after{
  			content:"";
  			display: block;
  			width: 1px;
  			border-left:2px #000 solid;
  			animation:scroll-ani 2s ease 0s infinite normal;
  			margin: 0 auto 0;
  		}

  		@keyframes scroll-ani{
  			0%{
  				height: 0;
  			}
  			50%{
  				height: $scroll-height;
  				margin-top: 0;
          @include media($middle){
            height: $scroll-height-middle;
          }
  			}
  			100%{
  				margin-top: $scroll-height;
  				height: $scroll-height;
          @include media($middle){
            height: $scroll-height-middle;
          }
  			}
  		}
    }
    &-sub-logo{
      width: 130px;
      margin: 0px auto 0px;
      padding-top: 20px;
    }
  }
  .sub{
    margin-bottom: 75px;
    @include media($mobile){
      margin-bottom: 40px;
    }
  }

  #drawer-checkbox{
    display: none;
  }

  #drawer-icon {
    cursor: pointer;
    display: inline-block;
    height: 87px;
    position: fixed;
    width: 90px;
    right: 40px;
    z-index: 1001;
    top: 25px;
    background-image: url('./assets/img/header/drawer-bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    @include media(md){
      top: 18px;
    }
    @include media(lg){
      right: 50px;
      top: 50px;
    }
    @include media($mobile){
      right: 10px;
      top: 10px;
      width: 70px;
      height: 67px;
    }
  }
  #drawer-icon span {
    background:  #ffe100;
    display: block;
    width: 38px;
    left: 27px;
    position: absolute;
    bottom: 21px;
    transition: all 0.3s ease-in-out;
    height: 4px;
    z-index: 1000;
    @include media($mobile){
      width: 30px;
      height: 2px;
      left: 21px;
      bottom: 18px;
    }

  }
  #drawer-icon span::before{
    -webkit-transform: rotate(0);
    background: #ffe100;
    content: "";
    display: block;
    height: 4px;
    left: 50%;
    margin: -8% 0 0 -50%;
    position: absolute;
    top: 0%;
    transform: rotate(0);
    transition: all 0.3s ease-in-out;
    width: 38px;
    margin-top: -8px;
    @include media($mobile){
      width: 30px;
      height: 2px;
    }

  }
  #drawer-icon span::after {
    -webkit-transform: rotate(0);
    background: #ffe100;
    content: "";
    display: block;
    height: 4px;
    left: 0%;
    position: absolute;
    top: 0%;
    transform: rotate(0);
    transition: all 0.3s ease-in-out;
    width: 38px;
    margin-top: 8px;
    @include media($mobile){
      width: 30px;
      height: 2px;
    }

  }
  #drawer-checkbox:checked ~ #drawer-icon span {
    background: rgba(51, 51, 51, 0);
  }
  #drawer-checkbox:checked ~ #drawer-icon span::after {
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    margin: -8% 0 0 -50%;
    position: absolute;
    top: 50%;
    transform: rotate(0);
    transition: all 0.3s ease-in-out;
    width: 30px;
  }
  #drawer-checkbox:checked ~ #drawer-icon span::before,
  #drawer-checkbox:checked ~ #drawer-icon span::after {
    content: "";
    display: block;
    height: 100%;
    left: 17px;
    margin: -8% 0 0 -42%;
    position: absolute;
    top: 50%;
    width: 100%;
    @include media($mobile){
      left: 12px;
    }
  }
  #drawer-checkbox:checked ~#drawer-icon{
    @include media(mobile){
      top: 10px;
      //animation: movemenu 0.8s ease 0s normal;
      //left: calc(100% - 60px);


    }
  }
  #drawer-checkbox:checked ~ #drawer-icon span::before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);

  }
  #drawer-checkbox:checked ~ #drawer-icon span::after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  #drawer-content {
    overflow: auto;
    position: fixed;
    overflow: hidden;
    top: 60px;
    right: 50px;
    width: 0%;
    max-width: 100%;
    height: 0%;
    background: $color-main;
    transition: all .6s ease-in-out;
    transform: scale(0.1);
    border-radius: 100%;
    z-index: 1000;
    @include media($mobile){
      top: 10px;
    }
    .drawer-content-wrap{
      position: relative;
      height: 100vh;
      padding: 40px 0px 60px;
      overflow: scroll;
      overflow-x: hidden;
      overflow-y: hidden;
      @include media($large){
        min-height: 800px;
        padding: 40px 0px;
      }
      &-content{
        @include media($large){
          position: absolute;
          left: 50%;
          top:50%;
          -webkit-transform: translate(-50%,-50%);
          -moz-transform: translate(-50%,-50%);
          -ms-transform: translate(-50%,-50%);
          -o-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
          width: 80%;
        }
        @include media($middle-min){
          position: absolute;
          left: 50%;
          top:50%;
          -webkit-transform: translate(-50%,-50%);
          -moz-transform: translate(-50%,-50%);
          -ms-transform: translate(-50%,-50%);
          -o-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
          width: 80%;
        }

      }
    }
    .drawer-content-img{
      text-align: center;
      margin-bottom: 22px;

      img{
        width: 130px;
      }
      h2{
        font-size: 36px;
        font-weight: normal;
        a{
          font-size: 36px;
        }
      }
    }

    .drawer-content-list{
      li{
        text-align: center;
        margin-bottom: 10px;
        a{
          text-decoration: none;
          color: #000;
          font-size: 15px;
          font-weight: bold;
          img{
            width: 25px;
          }
        }
      }
    }
    .drawer-content-foot{

        text-align: center;
        margin-bottom: 23px;
        li{
          display: inline-block;
          font-size: 12px;
          margin-bottom: 0px;
          @include media($mobile){
            display: block;
          }
          &:first-child{
            display: block;
            margin-bottom: 5px;
          }
          &:nth-child(2){
            margin-right: 25px;
          }
          &:nth-child(3){
            margin-right: 5px;
          }
          a{
            font-size: 1.6rem;
            font-family: $font-en;
            position: relative;
            padding-left: 15px;
            &:before{
              position: absolute;
              content: '';
              width: 13px;
              height: 13px;
              display: block;
              left: 0px;
              top:3px;
              background-image: url('./assets/img/icon/icon-tel.png');
              background-size: contain;
              background-repeat: no-repeat;
            }
          }
        }
    }
  }
  #drawer-checkbox:checked ~ #drawer-content {
    //transform: translateX(0);
    box-shadow: 6px 0 25px rgba(0, 0, 0, 0.16);
    border-radius: 0%;
    width: 100%;
    height: 100%;
    transform: scale(1);
    top: 0px;
    right: 0px;

  }





  #drawer-close {
    display: none;
    position: fixed;
    z-index: 39;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    transition: all 0.3s ease-in-out 0s;
  }
  #drawer-checkbox:checked ~ #drawer-close {
    display: block;
    opacity: 0.6;
  }



@mixin transition {
    @for $i from 1 through 50 {
      &:nth-child(#{$i}) {
        transition: transform 2.5s #{$i * .08}s cubic-bezier(.29,1.4,.44,.96);
      }
    }
  }

  @keyframes aniopa{
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }


  #drawer-checkbox:checked ~ #drawer-content{
    transform: translatex(0);
    li{
      transform: translate(0);
      @include transition;
      animation-name: aniopa;
      animation-duration: 1.2s;
      animation-fill-mode:forwards;
      animation-timing-function: ease-in;
    }
  }



  #drawer-content li{
    opacity: 0;
    transform: translatey(20px);
        /* ie workaround */
  }


}
