.infomation{
  margin-top: 38px;
  &-title{
    margin-bottom: 34px;
    text-align: center;
    @include media($mobile){
      margin-bottom: 18px;
    }
    img{
      width: 210px;
      @include media($mobile){
        width: 120px;
      }
    }
  }

  &-desc{
    margin-bottom: 50px;
    text-align: center;
    @include media($mobile){
      margin-bottom: 30px;
    }
    p{
      font-size: 1.8rem;
      font-weight: normal;
      margin: 0px;
      @include media($mobile){
        font-size: 1.4rem;
      }
    }
  }

  &-flex{
    display: flex;
    margin-bottom: 40px;
    @include media($mobile){
      flex-wrap: wrap;
      margin-bottom: 20px;
    }
  }
  &-col-4-1{
    width: 255px;
    margin-right: 20px;
    @include media($mobile){
      width: 48%;
      margin-right: 4%;
    }
    &:nth-child(2n){
      @include media($mobile){
        margin-right: 0px;
      }
    }
    &:last-child{
      margin-right: 0px;
    }
    p{
      display: block;
      width: 202px;
      background-color: $color-orange;
      margin: 0px auto;
      border-radius: 20px;
      text-align: center;
      color: #fff;
      font-size: 1.8rem;
      font-weight: bold;
      padding: 15px 0px;
      position: relative;
      top: -20px;
      @include media($mobile){
        width: 95%;
        font-size: 1.3rem;
        padding: 8px 0px;
      }
    }
  }

  &-h2{
    margin-bottom: 35px;
    @include media($mobile){
      margin-bottom: 20px;
    }
    h2{
      font-size: 2.2rem;
      line-height: 1.59;
      text-align: center;
      @include media($mobile){
        font-size: 1.6rem;
      }
    }
    &:after{
      display: block;
      content: '';
      width: 77px;
      height: 39px;
      background-image: url('./assets/img/page/infomation-h2-after.png');
      background-size: cover;
      background-repeat: no-repeat;
      margin: 20px auto 0px;
    }
  }

  &-list{
    width: 880px;
    margin: 0 auto 75px;
    @include media($mobile){
      width: 100%;
      padding: 0px 15px;
    }
    dl{
      display: block;
      border: 2px solid #d6d6d6;
      border-radius: 20px;
      position: relative;
      box-shadow:4px 3px 0px 2px #d6d6d6;
      position: relative;
      margin-bottom: 15px;
      @include media($mobile){
        box-shadow:2px 2px 0px 1px #d6d6d6;
      }
      &:last-child{
        margin-bottom: 0px;
      }
      &:hover{
        @include media($large){
          box-shadow: none;
          top: 6px;
          left: 5px;
        }
      }

    }
    .list-close{
      &:after{
        content: '';
        display: block;
        position: absolute;
        top: 25px;
        right: 35px;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('./assets/img/page/infomation-close.png');
        width: 23px;
        height: 16px;
        @include media($mobile){
          top: 18px;
          right: 20px;
        }
      }
    }
    dt{
      padding: 20px 50px;
      cursor: pointer;
      @include media($mobile){
        padding: 15px 20px;
      }
      &:after{
        content: '';
        display: block;
        position: absolute;
        top: 25px;
        right: 35px;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('./assets/img/page/infomation-open.png');
        width: 23px;
        height: 16px;
        @include media($mobile){
          top: 18px;
          right: 20px;
        }
      }
      h3{
        margin: 0px;
        font-size: 2.0rem;
        @include media($mobile){
          font-size: 1.5rem;
        }
      }
    }
    dd{
      width: 100%;
      display: none;
      .infomation-list-flex{
        display: flex;
        width: 100%;
        padding: 15px 0px;
        align-items: center;
        border-top: 2px solid #d6d6d6;
        background-color: #f7f7f7;
        @include media($mobile){
          flex-wrap: wrap;
          padding: 15px;
        }
        &:nth-child(2n){
          background-color: #fff;
        }
        &:last-child{
          border-radius: 0px 0px 20px 20px;
        }
        &-title{
          width: 200px;
          padding-left: 50px;
          @include media($mobile){
            width: 100%;
            padding-left: 0px;
            margin-bottom: 10px;
          }
          p{
            font-size: 2.0rem;
            margin: 0px;
            @include media($mobile){
              font-size: 1.5rem;
            }
          }
        }
        &-adress{
          width: 430px;
          @include media($mobile){
            width: 100%;
            margin-bottom: 10px;
          }
          p{
            font-size: 1.6rem;
            margin: 0px;
            @include media($mobile){
              font-size: 1.3rem;
            }
          }
          &-inblock{
            display: inline-block;
          }
        }
        &-tel{
          @include media($mobile){
            width: 100%;
          }
          p{
            font-size: 1.6rem;
            margin: 0px;
            @include media($mobile){
              font-size: 1.3rem;
            }
            a{
              text-decoration: underline;
              @include media($mobile){
                font-size: 1.3rem;
              }
            }
          }
        }
      }
    }
  }

  &-btn{
    width: 370px;
    margin: 0 auto;
    display: block;
    position: relative;
    @include media($mobile){
      width: 240px;
    }
    &:after{
      @include media($large){
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        background-image: url('./assets/img/page/infomation-btn--hover.png');
        width: 370px;
        height: 76px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        z-index: -1;
      }
    }
    a{
      display: block;
    }
    &:hover{
      @include media($large){
        opacity: 1;
        &:after{
          top: 6px;
        }
        img{
          opacity: 0;
        }
      }
    }
  }
}
