.page{
  &-mainvisual{
    max-width: $content-width;
    width: 100%;
    margin: 0 auto 30px;
  }


  &-table{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    dt,dd{
      padding: 20px 0px;
      font-size: 1.6rem;
      line-height: 1.875;
      @include media($mobile){
        font-size: 1.3rem;
      }
    }
    dt{
      width: 340px;
      border-bottom: 1px solid #ff1800;
      @include media($mobile){
        width: 30%;
        font-size: 1.5rem;
      }
    }
    dd{
      width: 660px;
      border-bottom: 1px solid #000;
      @include media($mobile){
        width: 70%;
      }
      .page-table-wrap{
        margin-bottom: 30px;
        &:last-child{
          margin-bottom: 0px;
          h3{
            width: 410px;
            @include media($mobile){
              width: 100%;
              max-width: 410px;
            }
          }
        }
        h3{
          display: inline-block;
          background-color: #000;
          color: $color-main;
          padding: 3px 4px 3px 8px;
          font-size: 1.6rem;
          margin-bottom: 10px;
          letter-spacing: 0rem;
        }
      }
    }
  }

  &-map{

  }
}

.notfound{
  margin-bottom: 100px;
  @include media($mobile){
    margin-bottom: 65px;
  }
  p{
    margin-bottom: 60px;
  }
}
