
.price{
  margin-bottom: 80px;
  p{
    font-size: 1.5rem;
    line-height: 1.8;
  }
  .overflow-sp{
    @include media($mobile){
      overflow: auto;
      max-width: 800px;
      border: 2px solid #999999;
      margin-bottom: 20px;
    }
  }
  .price-table{
    border: 1px solid #999999;
    margin-bottom: 30px;
    border-collapse: collapse;
    border-spacing: 0;
    @include media($mobile){
      table-layout: fixed;
      min-width: 100%;
      border: none;
      margin-bottom: 10px;
    }
    th:first-child{
      border-left: 0px;
    }
    tr:first-child{
      th{
        border-top: 0px;
      }
      th,td{
        &:before{
          display: none;
        }
      }
    }
    tr{
      th,td{
        &:last-child{
          &:after{
            display: none;
          }
        }
      }
      .after-none{
        &:after{
          display: none;
        }
      }
      .after-block{
        &:after{
          content: "";
          background-image: linear-gradient(to bottom, #999, #999 2px, transparent 2px, transparent 8px);
          background-size: 1px 4px;
          background-repeat: repeat-y;
          width: 1px;
          height: 100%;
          display: block !important;
          position: absolute;
          left: 0px;
          top: 0px;
          @media all and (-ms-high-contrast: none) {
            display: none !important;
          }
        }
      }
    }
    th,td{
      font-size: 1.2rem;
      padding: 0px 6px;
      text-align: center;
      vertical-align: middle;
      padding: 6px 3px;
      text-align: center;
      //border-right: 1px dashed #999999;
      letter-spacing: -0.05em;
      position: relative;
      @media all and (-ms-high-contrast: none) {
        border: 1px dashed #999999;
      }
      &:before{
        content: "";
        background-image: linear-gradient(to left, #999, #999 2px, transparent 2px, transparent 8px);
        background-size: 4px 1px;
        background-repeat: repeat-x;
        width: 100%;
        height: 1px;
        display: block;
        position: absolute;
        left: 0px;
        top: 0px;
        @media all and (-ms-high-contrast: none) {
          display: none;
        }
      }
      &:after{
        content: "";
        background-image: linear-gradient(to bottom, #999, #999 2px, transparent 2px, transparent 8px);
        background-size: 1px 4px;
        background-repeat: repeat-y;
        width: 1px;
        height: 100%;
        display: block;
        position: absolute;
        right: 0px;
        top: 0px;
        @media all and (-ms-high-contrast: none) {
          display: none;
        }
      }

      @include media($mobile){
        width: 80px;
      }
    }
    .col3-sp{
      @include media($mobile){
        width: 240px;
      }
    }
    .col-2{
      @include media($mobile){
        width: 160px;
      }
    }
    td{
      letter-spacing: 0.05em;
    }
  }

  &-sec{
    .price-attention-flex{
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 60px;
      .price-attention-col{
        width: 60px;
        margin-bottom: 25px;
        @include media($mobile){
          width: 50px;
        }
        &:last-child{
          margin-bottom: 0px;
        }
        &:nth-child(2n){
          width: 640px;
          @include media($mobile){
            width: calc(100% - 50px);
          }
        }
        ul{
          padding-left: 20px;
          li{
            list-style-type: decimal;
            font-size: 1.5rem;
            line-height: 1.8;
            @include media($mobile){
              font-size: 1.4rem;
            }
          }
        }
        p{
          font-size: 1.5rem;
          line-height: 1.8;
          @include media($mobile){
            font-size: 1.4rem;
          }
        }
      }

    }

    .price-attention-flex-2{
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 0px;
      @include media($mobile){
        margin-bottom: 20px;
      }
      .price-attention-col-2{
        width: 85px;
        margin-bottom: 15px;
        &:last-child{
          margin-bottom: 0px;
        }
        &:nth-child(2n-1){
          @include media($mobile){
            p{
              font-size: 15px;
            }
          }
        }
        &:nth-child(2n){
          width: 615px;
          @include media($mobile){
            width: calc(100% - 85px);
          }
        }
        &:last-child{
          margin-bottom: 0px;
        }
        &:last-of-type(2){
          margin-bottom: 0px;
        }
        ul{
          padding-left: 20px;
          li{
            list-style-type: decimal;
            font-size: 1.5rem;
            line-height: 1.8;
          }
        }
        p{
          font-size: 1.5rem;
          line-height: 1.8;
        }
      }

    }
  }
  .price-desc{
    @include media($mobile){
      margin-bottom: 35px;
    }
  }
}
