

@media print{
  #print_off{display:none;}
}

.print_container{
	width: 900px;
	height: 1px;
	margin: 0 auto;
	@include media($middle){
		width: 100%;
	}
}


.print{
  -webkit-print-color-adjust: exact;
  &-wrap{
    width: 690px;
    margin: 0 auto;
    padding: 30px;
  }
  &-title{
    margin-bottom: 30px;
    h1{
      font-size: 2.5rem;
      color: $color-orange;
      font-weight: bold;
      padding-left: 30px;
      position: relative;
      padding-left: 25px;
      &:before{
        position: absolute;
        top: 0px;
        left: 0px;
        content: '';
        display: block;
        background-image: url('./assets/img/single/single-club-title-icon.png');
        background-size: cover;
        background-repeat: no-repeat;
        width: 16px;
        height: 32px;
      }
      span{
        font-size: 1.8rem;
        color: $color-orange;
        display: inline-block;
        margin-left: 15px;
        vertical-align: middle;
      }
    }
  }

  .print-title-h2{
    h2{
      text-align: center;
      font-size: 3.0rem;
      color: $color-green;
      &:after{
        margin: 15px auto 0px;
        content: '';
        background-image: url('./assets/img/page/about-sec02-title-h2-after.png');
        background-size: contain;
        background-repeat: no-repeat;
        display: block;
        width: 36px;
        height: 6px;
      }
    }
  }



  &-flex{
    display: flex;
    margin-bottom: 40px;
  }
  &-col-img{
    width: 40%;
    padding-right: 20px;
  }
  &-col-txt{
    width: 60%;
    dl{
      display: flex;
      flex-wrap: wrap;
      border-top: 1px solid #959595;
      dd,dt{
        border-bottom: 1px solid #959595;
        padding-top: 16px;
        padding-bottom: 16px;
        &:first-of-type{
          padding-top: 7px;
          padding-bottom: 7px;
        }
      }
      dt{
        width: 25%;
        font-size: 1.8rem;
        padding-left: 10px;
      }
      dd{
        width: 75%;
        padding-left: 20px;
        font-size: 1.6rem;
        line-height: 2.1;

        .cat{
          display: inline-block;
          width: 123px;
          background-color: #e8e8e8;
          border-radius: 10px;
          text-align: center;
          font-size: 1.6rem;
          line-height: 1;
          padding: 6px 0px;
        }
      }

    }
  }

  .print-about{
    margin-bottom: 40px;
    .print-title-h2{
      margin-bottom: 30px;
    }
    &-desc{
      p{
        font-size: 1.6rem;
        line-height: 1.75;
        margin: 0px;
      }

    }
  }
  .print-message{
    margin-bottom: 40px;
    .print-title-h2{
      margin-bottom: 30px;
    }
    &-desc{
      p{
        font-size: 1.6rem;
        line-height: 1.75;
        margin: 0px;
      }
    }
  }
  .print-overflow{
    margin-bottom: 30px;
    .print-title-h2{
      margin-bottom: 30px;
    }
    &-table{
      display: flex;
      flex-wrap: wrap;
      border-top: 1px solid #959595;
      dt,dd{
        border-bottom: 1px solid #959595;
        padding: 11px 0px;
        font-size: 1.8rem;
      }
      dt{
        width: 20%;
        padding: 11px 10px;
      }
      dd{
        width: 80%;
      }
    }
  }
  .print-map{
    margin-bottom: 30px;
    .print-title-h2{
      margin-bottom: 38px;
    }
    &-wrap{
      width: 100%;
      height: 335px;
      margin-bottom: 15px;
    }
  }

  .print-price{
    margin-bottom: 76px;
    .print-title-h2{
      margin-bottom: 40px;
    }

    &-table{
      display: flex;
      flex-wrap: wrap;
      border-top: 1px solid #959595;
      margin-bottom: 60px;
      dt,dd{
        border-bottom: 1px solid #959595;
        padding: 11px 0px;
        font-size: 1.8rem;
      }
      dt{
        width: 20%;
        padding: 11px 10px;
      }
      dd{
        width: 80%;
      }
    }
  }

  .print-page__bottom__note{
    margin-bottom: 5px;
    font-size: 1.2rem;
  }
  .print-page__bottom__top{
    @include clearfix;
    margin-bottom: 5px;
  }
  .print-page__bottom__top__left{
    float: left;
    font-weight:bold;
  }
  .print-page__bottom__top__right{
    float: right;
    margin-right: 10px;
  }
  .print-page__bottom__info{
    .title{
      font-size: 18px;
      font-weight:bold;
    }
  }
  .print-page__btns{
    width: 690px;
    text-align: center;
    margin: 0 auto 40px;
    input{
      background: $color-green;
      background-color: $color-green;
      margin-right: 20px;
      font-size: 26px;
      &:last-child{
        margin-right: 0px;
      }
    }
  }
}
