.recruit{
  .page-mainvisual{
    margin-bottom: 40px;
  }
  .sec01{
    margin-bottom: 100px;
    &-desc{
      font-size: 2rem;
      line-height: 2.1;
      font-weight: bold;
      text-align: center;
      margin-bottom: 65px;
      @include media($mobile){
        font-size: 1.7rem;
      }
    }
    &-title{
      margin-bottom: 45px;
      @include media($mobile){
        margin-bottom: 30px;
      }
      h2{
        font-size: 4.0rem;
        margin: 0px;
        text-align: center;
        @include media($mobile){
          font-size: 3.0rem;
        }
      }
    }
  }
  
  &-btn{
    a{
      width: 360px;
      border-radius: 30px;
      margin: 0 auto;
      border: 1px solid #000;
      display: block;
      text-align: center;
      padding: 18px 0px;
      font-size: 1.8rem;
      letter-spacing: 0.1em;
      font-weight: bold;
      position: relative;
      transition: all .3s ease;
      @include media($mobile){
        width: 90%;
        max-width: 360px;
      }
      &:hover{
        background-color: #000;
        color: $color-main;
        opacity: 1;
        &:before,&:after{
          right: 20px;
          background-color: $color-main;
          @include media($mobile){
            right: 10px;
          }
        }
      }
      &:before,&:after{
        transition: all .3s ease;
        content: "";
        display: block;
        width: 0;
        height: 0;
        width: 12px;
        height: 1.5px;
        position: absolute;
        right: 30px;
        background: #000;
        @include media($mobile){
          right: 20px;
        }
      }
      &:before{
        top: 34.5px;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
      &:after{
        top: 27px;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }
}
