.shop{
  .page-mainvisual{
    margin-bottom: 50px;
  }
  .sec01{
    margin-bottom: 140px;
    @include media($mobile){
      margin-bottom: 80px;
    }
    &-h2{
      color: $color-main;
      width: 640px;
      margin: 0 auto;
      background-color: #000;
      text-align: center;
      font-size: 2.4rem;
      letter-spacing: 0.05em;
      padding: 10px 0px;
      position: relative;
      margin-bottom: 50px;
      @include media($mobile){
        width: 100%;
        max-width: 640px;
        font-size: 2.2rem;
      }
      &:after{
        content: '';
        display: block;
        position: absolute;
        left: 45px;
        bottom: -19px;
        background-image: url('./assets/img/shop/icon-shop.png');
        width: 17px;
        height: 19px;
      }
    }
    h3{
      font-size: 2.4rem;
      font-weight: bold;
      margin-bottom: 25px;
      text-align: center;
      @include media($mobile){
        font-size: 1.9rem;
      }
      .red{
        font-size: 2.4rem;
        font-weight: bold;
        color: #ff1800;
        @include media($mobile){
          font-size: 1.9rem;
          line-height: 1.5;
        }
      }
    }
    p{
      font-size: 2.0rem;
      line-height: 2.1;
      text-align: center;
      margin: 0px;
      @include media($mobile){
        font-size: 1.5rem;
      }
    }
  }

  .sec02{
    background-color: #fff;
    padding: 75px 0px 115px;
    margin-bottom: 160px;
    @include media($mobile){
      margin-bottom: 100px;
      padding: 75px 0px;
    }
    h2{
      font-size: 4.0rem;
      margin-bottom: 45px;
      text-align: center;
      @include media($mobile){
        font-size: 3.0rem;
      }
    }
    &-wrap{
      display: flex;
      margin-bottom: 70px;
      flex-wrap: wrap;
      &-item{
        width: 320px;
        margin-right: 20px;

        @include media($large){
          &:nth-child(3n){
            margin-right: 0px;
          }
        }
        @include media($middle-min){
          width: 31%;
          margin-right: 3%;
          &:nth-child(3n){
            margin-right: 0px;
          }
        }
        @include media($mobile){
          margin: 0 auto 20px;
        }
        &-img{
          margin-bottom: 30px;
        }
        &-desc{
          background-color: #000;
          color: $color-main;
          display: inline-block;
          padding: 4px 8px;
        }
      }
    }
    &-img{
      width: 800px;
      margin: 0 auto;
      @include media($middle-min){
        width: 100%;
      }
      @include media($mobile){
        width: 100%;
      }
      &-list{

      }
      &-list-sum{
        li{
          margin-right: 10px;
          &:last-child{
            margin-right: 0px;
          }
        }
      }
    }
  }

  .sec03{
    margin-bottom: 190px;
    position: relative;
    @include media($mobile){
      background-color: #fff;
      padding: 60px 0px;
      margin-bottom: 80px;
    }
    &:before{
      position: absolute;
      left: 0px;
      top: -60px;
      z-index: -1;
      content: '';
      display: block;
      width: calc(100vw - (100vw - 800px) / 2);
      height: 450px;
      background-color: #fff;
      @include media($middle-min){
        width: 90%;
      }
      @include media($mobile){
        width: 100%;
        display: none;
      }
    }
    &-wrap{
      display: flex;
      flex-wrap: wrap;
      &-img{
        width: 50%;
        @include media($mobile){
          width: 100%;
          margin-bottom: 20px;
        }
      }
      &-txt{
        width: 50%;
        padding-left: 70px;
        @include media($middle-min){
          padding-left: 40px;
        }
        @include media($mobile){
          width: 100%;
          padding-left: 0px;
        }
        h2{
          font-size: 2.0rem;
          line-height: 2.1;
          margin-bottom: 20px;
          padding-bottom: 10px;
          position: relative;
          @include media($middle-min){
            font-size: 1.9rem;
          }
          &:before{
            content: '';
            width: 18px;
            height: 2px;
            background: #ff1800;
            position: absolute;
            bottom:0px;
            left: 0px;
          }
          &:after{
            content: '';
            width: 60px;
            height: 2px;
            background: #000;
            position: absolute;
            bottom:0px;
            left: 18px;
          }
        }
        p{
          font-size: 1.6rem;
          line-height: 1.875;
          letter-spacing: 0rem;
          @include media($middle){
            font-size: 1.5rem;
          }
        }
      }
    }
  }
  .sec04{
    margin-bottom: 100px;
    @include media($mobile){
      margin-bottom: 60px;
    }
    h2{
      text-align: center;
      font-size: 4.0rem;
      letter-spacing: 0.05em;
      margin-bottom: 60px;
    }
    &-table{
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 35px;
      dd,dt{
        font-size: 1.6rem;
        font-weight: normal;
        padding: 20px 0px;
      }
      dt{
        width: 15%;
        border-bottom: 1px solid #ff1800;
        @include media($mobile){
          width: 30%;
        }
      }
      dd{
        width: 85%;
        border-bottom: 1px solid #000000;
        @include media($mobile){
          width: 70%;
        }
      }
    }
    &-btn{
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
      border: 2px solid #ff1800;
      background-color: #fff;
      padding: 20px 0px;
      h3{
        text-align: center;
        font-size: 1.6rem;
        margin-bottom: 15px;
      }
      a{
        font-family: $font-en;
        color: #ff1800;
        font-size: 4.0rem;
        text-align: center;
        display: block;
        line-height: 1;
        @include media($mobile){
          font-size: 3.0rem;
        }
        span{
          font-family: $font-en;
          color: #ff1800;
          font-size: 2.7rem;
          display: inline-block;
          margin-right: 10px;
          position: relative;
          top: -2px;
          @include media($mobile){
            font-size: 2.2rem;
            top: -1px;
            margin-right: 5px;
          }
        }
      }

    }
  }

}
