.single{
  &-sec{
    margin-bottom: 100px;
    @include media($mobile){
      margin-bottom: 50px;
    }
    &-info{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;
      padding: 20px 0px;
      margin-bottom: 25px;
      a{
        font-family: $font-en;
        background-color: #000;
        color: $color-main;
        font-size: 1.2rem;
        padding: 2px 10px;
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 10px;
      }
      time{
        font-family: $font-en;
        font-size: 1.4rem;
        margin-bottom: 10px;
      }
      h2{
        display: block;
        width: 100%;
        margin: 0px;
      }
    }
  }
  &-desc{
    margin-bottom: 50px;

    p{
      font-size: 1.6rem;
      line-height: 1.875;
    }
  }

  &-btn{
    a{
      width: 360px;
      border-radius: 30px;
      margin: 0 auto;
      border: 1px solid #000;
      display: block;
      text-align: center;
      padding: 18px 0px;
      font-size: 1.8rem;
      letter-spacing: 0.1em;
      font-weight: bold;
      position: relative;
      transition: all .3s ease;
      @include media($mobile){
        width: 90%;
        max-width: 360px;
      }
      &:hover{
        background-color: #000;
        color: $color-main;
        opacity: 1;
        &:before,&:after{
          right: 20px;
          background-color: $color-main;
          @include media($mobile){
            right: 10px;
          }
        }
      }
      &:before,&:after{
        transition: all .3s ease;
        content: "";
        display: block;
        width: 0;
        height: 0;
        width: 12px;
        height: 1.5px;
        position: absolute;
        right: 30px;
        background: #000;
        @include media($mobile){
          right: 20px;
        }
      }
      &:before{
        top: 34.5px;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
      &:after{
        top: 27px;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }
}
