.top{
  .archive{
    margin-bottom: 150px;
    @include media($mobile){
      margin-bottom: 100px;
    }
    .content-width{
      position: relative;
    }
    .com-btn{
      position: absolute;
      right: 71px;
      @include media($large){
        top:25px;
      }
      @include media($middle-min){
        top: 0px;
        right: 100px;
      }
      @include media($mobile){
        bottom:-60px;
        left: 20px;
      }
    }
  }

  .sec02{
    margin-bottom: 95px;
    &-wrap{
      display: flex;
      align-items: center;
      @include media($mobile){
        flex-wrap:wrap-reverse;
      }
      &-txt{
        padding: 120px 0px;
        padding-left: calc((100vw - 1000px) / 2);
        width: calc(667 * (100vw / 1200));
        background-color: #fff;
        @include media($middle-min){
          padding:50px 0px;
          padding-left: 4%;
          width: 100%;
        }
        @include media($mobile){
          width: 100%;
          padding: 50px 0px;
          padding-left: 20px;

        }
        .top-title-h2{
          position: relative;
          margin-bottom: 30px;
          &:before{
            content: '';
            width: 18px;
            height: 2px;
            background: #ff1800;
            position: absolute;
            bottom:0px;
            left: 0px;
            @include media($mobile){
              left: 20px;
            }
          }
          &:after{
            content: '';
            width: 60px;
            height: 2px;
            background: #000;
            position: absolute;
            bottom:0px;
            left: 18px;
            @include media($mobile){
              left: 38px;
            }
          }
        }
        &-desc{
          font-size: 2rem;
          font-weight: bold;
          line-height: 2.1;
          margin-bottom: 20px;
          @include media($middle-min){
            font-size: 1.8rem;
          }
          @include media($mobile){
            font-size: 1.8rem;
          }
        }
      }
      &-img{
        //width: calc(620 * (100vw / 1200));
        width: 620px;
        position: relative;
        z-index: 2;
        left: -90px;
        @include media($middle-min){
          width: 90%;
          left: -30px;
        }
        @include media($mobile){
          width: 100%;
          left: 0px;
        }
        img{
          width: 100%;
          left: 0px;
        }
      }
    }
  }

  .sec03{
    background-color: #fff;
    padding: 95px 0px;
    margin-bottom: 95px;
    @include media($mobile){
      padding-bottom: 130px;
    }
    .content-width{
      position: relative;
    }
    .top-title-h2{
      margin-bottom: 40px;
    }
    &-wrap{
      display: flex;
      flex-wrap: wrap;
      &-item{
        width: 227px;
        margin-right: 30.6px;
        &:nth-child(4n){
          margin-right: 0px;
        }
        @include media($middle-min){
          width: 22%;
          margin-right: 4%;
        }
        @include media($mobile){
          width: 49%;
          margin-right: 2%;
          margin-bottom: 20px;
          &:nth-child(2n){
            margin-right: 0px;
          }
        }
        &-img{
          margin-bottom: 20px;
        }
        p{
          font-size: 1.6rem;
          font-weight: bold;
          position: relative;
          margin: 0px;
          padding-right: 15px;
          text-align: center;
          &:before,&:after{
            content: "";
            display: block;
            width: 0;
            height: 0;
            width: 8px;
            height: 1.5px;
            position: absolute;
            right: 3px;
            background: #000;
          }
          &:before{
            top: 14.5px;
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
          }
          &:after{
            top: 9px;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
          }

        }
      }
    }
    .com-btn{
      position: absolute;
      right: 71px;

      @include media($large){
        top:0px;
      }
      @include media($middle-min){
        top: 0px;
        right: 110px;
      }
      @include media($mobile){
        left: 30px;
        bottom:-80px;
      }
    }
  }

  .shop{
    margin-bottom: 95px;
    @include media($mobile){
      margin-bottom: 60px;
    }
    a{
      display: block;
    }
    &-wrap{
      display: flex;
      @include media($mobile){
        flex-wrap: wrap-reverse;
      }
      &-txt{
        width: 40%;
        background-color: #fff;
        padding-top: 28px;
        @include media($middle-min){
          padding-top: 15px;
        }
        @include media($mobile){
          width: 100%;
          padding-bottom: 30px;
        }
        p{
          text-align: center;
          font-size: 1.4rem;
          line-height: 1.78;
          margin-bottom: 15px;
          font-weight: bold;
          @include media($middle-min){
            font-size: 1.3rem;
          }
        }
        h2{
          width: 263px;
          margin: 0 auto 15px;
          @include media($middle-min){
            width: 150px;
          }
        }
      }
      &-img{
        width: 60%;
        @include media($mobile){
          width: 100%;
        }
      }
    }
  }
}
